<!-- Navigation -->
<nav class="navbar main-menu navbar-expand-sm navbar-light">
    <h1 id="logo">
        <a class="navbar-brand page-scroll" href="/">
            <span class="logo">
                <img src="/Pictures/guld/logo/guld_legal.svg" class="img-responsive" alt="Guld Legal">
            </span>
        </a>
    </h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <div id="legalmenu" class="text-right">
    </div>
    </div>
</nav>

