<nav class="navbar sticky-top navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/">
        <img id="logo" src="/Pictures/guld/logo/logo.png" class="img-responsive" alt="Guld">
    </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
<li class="nav-item"><a class="nav-link" href="/">index</a></li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button" aria-haspopup="true" href="#">cli</a>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-cli/README.md">guld cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-env-cli/README.md">guld env cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-fs-cli/README.md">guld fs cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-fs-foreach-cli/README.md">guld fs foreach cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-fs-str-replace-cli/README.md">guld fs str replace cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-git-cli/README.md">guld git cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-git-config-cli/README.md">guld git config cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-git-host-cli/README.md">guld git host cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-git-path-cli/README.md">guld git path cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-git-remote-cli/README.md">guld git remote cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-keys-cli/README.md">guld keys cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-ledger-cli/README.md">guld ledger cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-mail-cli/README.md">guld mail cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-market-cli/README.md">guld market cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-pass-cli/README.md">guld pass cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-random-cli/README.md">guld random cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-sdk-cli/README.md">guld sdk cli</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-user-cli/README.md">guld user cli</a>
</div></li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button" aria-haspopup="true" href="#">lib</a>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/flexfs/README.md">flexfs</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/gpg-conf/README.md">gpg conf</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-app/README.md">guld app</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-cli-run/README.md">guld cli run</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-docs/README.md">guld docs</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-env/README.md">guld env</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-fs-foreach/README.md">guld fs foreach</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-fs-str-replace/README.md">guld fs str replace</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-fs/README.md">guld fs</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-git-config-ini/README.md">guld git config ini</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-git-config/README.md">guld git config</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-git-host-bitbucket/README.md">guld git host bitbucket</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-git-host-github/README.md">guld git host github</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-git-host-gitlab/README.md">guld git host gitlab</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-git-host/README.md">guld git host</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-git-path/README.md">guld git path</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-git-remote/README.md">guld git remote</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-git/README.md">guld git</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-ledger-cache/README.md">guld ledger cache</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-ledger-grant/README.md">guld ledger grant</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-ledger-register/README.md">guld ledger register</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-ledger-transfer/README.md">guld ledger transfer</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-mail/README.md">guld mail</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-pass/README.md">guld pass</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-random/README.md">guld random</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-sdk/README.md">guld sdk</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-spawn/README.md">guld spawn</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/guld-user/README.md">guld user</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/keyring-gpg/README.md">keyring gpg</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/keyring-interface/README.md">keyring interface</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/keyring-pgp/README.md">keyring pgp</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/keyvaluedb/README.md">keyvaluedb</a>
<a class="dropdown-item" href="/?toload=/tech/js/node_modules/ledger-types/README.md">ledger types</a>
</div></li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button" aria-haspopup="true" href="#">papers</a>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="/?toload=/Documents/guld/tech/guld-dapp-architecture.md">guld dapp architecture</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/tech/guld-whitepaper.md">guld whitepaper</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/tech/guldFS_Specification.md">guldFS Specification</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/tech/guldOS_Specification.md">guldOS Specification</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/tech/guld_email.md">guld email</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/tech/guld_ledger.md">guld ledger</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/tech/guld_name_service.md">guld name service</a>
</div></li>
</ul>
        </div>
    </nav>
