<nav id="menu">
      <ul class="navbar-nav ml-auto">
<li class="nav-item"><a class="nav-link" href="/">index</a></li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button" aria-haspopup="true" href="#">contract</a>
<div class="dropdown-menu dropdown-menu-right">
<div class="dropdown-divider"></div>
clause

<div class="dropdown-divider"></div>
USA

<div class="dropdown-divider"></div>
NY

<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/clause/USA/NY/USA_NY_GULD_DISCLAIMER.md">USA NY GULD DISCLAIMER</a>



<div class="dropdown-divider"></div>
template

<div class="dropdown-divider"></div>
Ethereum

<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/Ethereum/ERC20_GULD_CONTRACT.md">ERC20 GULD CONTRACT</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/Ethereum/ERC20_HUMAN_CONTRACT.md">ERC20 HUMAN CONTRACT</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/Ethereum/ETHEREUM_MIGRATION_CONTRACT.md">ETHEREUM MIGRATION CONTRACT</a>

<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/GRANT_BOUNTY_CONTRACT.md">GRANT BOUNTY CONTRACT</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/GROUP_MEMBERSHIP_AGREEMENT.md">GROUP MEMBERSHIP AGREEMENT</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/GULD_ADDRESS_REGISTRATION_AGREEMENT.md">GULD ADDRESS REGISTRATION AGREEMENT</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/GULD_CHAIN_REGISTRATION_AGREEMENT.md">GULD CHAIN REGISTRATION AGREEMENT</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/GULD_GROUP_REGISTRATION_AGREEMENT.md">GULD GROUP REGISTRATION AGREEMENT</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/GULD_INDIVIDUAL_REGISTRATION_AGREEMENT.md">GULD INDIVIDUAL REGISTRATION AGREEMENT</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/GULD_MASTER_AGREEMENT.md">GULD MASTER AGREEMENT</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/GULD_MEMBERSHIP_AGREEMENT.md">GULD MEMBERSHIP AGREEMENT</a>
<div class="dropdown-divider"></div>
ledger

<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/ledger/GULD_LEDGER_REGISTRATION_AGREEMENT.md">GULD LEDGER REGISTRATION AGREEMENT</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/ledger/TOKEN_TRANSFER_AGREEMENT.md">TOKEN TRANSFER AGREEMENT</a>
<div class="dropdown-divider"></div>
individual

<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/ledger/individual/30_MIN_1_TOPIC.md">30 MIN 1 TOPIC</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/ledger/individual/ADVISOR_REVENUE_SHARE.md">ADVISOR REVENUE SHARE</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/ledger/individual/HODL_REDEMPTION.md">HODL REDEMPTION</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/ledger/individual/INDIVIDUAL_TOKEN_SALE.md">INDIVIDUAL TOKEN SALE</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/ledger/individual/PREMIUM_RATE_REDEMPTION.md">PREMIUM RATE REDEMPTION</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/ledger/individual/PROFESSIONAL_FLEX_REDEMPTION.md">PROFESSIONAL FLEX REDEMPTION</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/ledger/individual/SELFIE_REDEMPTION.md">SELFIE REDEMPTION</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/ledger/individual/SHAVE BEARD REDEMPTION.md">SHAVE BEARD REDEMPTION</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/ledger/individual/SPEECH_REDEMPTION.md">SPEECH REDEMPTION</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/ledger/individual/TOPLESS_30_MIN_1_TOPIC.md">TOPLESS 30 MIN 1 TOPIC</a>


<div class="dropdown-divider"></div>
trade

<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/trade/INTERNATIONAL_SALE_GOODS_U1000.md">INTERNATIONAL SALE GOODS U1000</a>
<a class="dropdown-item" href="/?toload=/Documents/guld/legal/contract/template/trade/SALES-COMMISSION-AGREEMENT.md">SALES COMMISSION AGREEMENT</a>


</div></li>
</ul>
    </nav>
